Package: tde-win-deco-q4win10
Version: 1.0
Section: x11
Priority: optional
Architecture: amd64
Depends: tqt3-mt, ltdecorations-trinity, tde-core-trinity, tdeui-trinity
Maintainer: seb3773 <seb3773@github.com>
Description: Q4WIN10 Window Decoration for Trinity Desktop
 Windows 10 style decoration for Trinity.
 Highly optimized build.
 Author: seb3773 (https://github.com/seb3773)
